<div class="containerS">

  <div class="wrapperS1">

    <div class="star-titleS">
      <div class="backgroundimgS">
        <% if @star.photo%>
        <%= cl_image_tag @star.photo.key%>
        <% end%>
      </div>
      <div class="text-imageS">
        <h1>
          <%= @star.name%>
        </h1>
        <p>in
          <%= @star.category%>
        </p>
        <h4><%= @star.price%> $/J</h4>
      </div>
    </div>

    <div class="product-userS">
      <p>Posted by: <%= @star.user.nickname%></p>
      <img class="avatar-userS" src="">
    </div>

  </div>

  <div class="wrapperS2">

    <div class="star-descS">
      <h2>Live an incredible experience with <%= @star.name%></h2>
      <div class="descriptionS">
        <p><%= @star.description%><p>
      </div>
      <!--<div class="review"><ul class="list-inline"><li><img class="fa fa-star"></li>*5</ul></div> -->
    </div>
    <div id="map"
      style="width: 200px; height: 200px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

    <div class="book-starS">
        <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <%= simple_form_for [@star, Reservation.new] do |f| %>
      <%= f.input :start, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "BOOK", class: "btn btn-danger" %>
    <% end %>
    </div>
  </div>
</div>
