<div class="container">

  <div class="wrapper">

    <div class="star-title">
      <h1>
        <%= @star.name%>
      </h1>
      <p>in
        <%= @star.category%>
      </p>
      <h4><%= @star.price%> $/J</h4>
    </div>

    <div class="product-user">
    <p>Posted by: <%= @star.user.nickname%></p>
    <img class="avatar-user" src="">
    </div>

  </div>

  <div class="wrapper">

    <div class="star-desc">
      <h2>Live an incredible experience with <%= @star.name%></h2>
      <p><%= @star.description%><p>
      <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      <!--<div class="review"><ul class="list-inline"><li><img class="fa fa-star"></li>*5</ul></div> -->
    </div>

    <div class="book-star">
        <%= simple_form_for [@star, Reservation.new] do |f| %>
        <%= f.input :start, as: :date %>
        <%= f.input :end, as: :date%>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
