<div class="containerS">

  <div class="wrapperS1">

    <div class="star-titleS">
      <div class="backgroundimgS">
        <% if @star.photo%>
          <%= cl_image_tag @star.photo.key%>
        <% end%>
      </div>
      <div class="text-imageS">
        <h1>
          <%= @star.name%>
        </h1>
        <p>in
          <strong><%= @star.category%></strong>
        </p>
        <h4><%= @star.price%> $/J</h4>
      </div>
    </div>

    <br>
    <hr>

    <div class="product-userS">

      <div class="avatar-userS">
        <% if @star.user.photo%>
          <%= cl_image_tag @star.user.photo.key%>
        <% end%>
      </div>
      <div>
      <p>Posted by : </p>
      <h4><%= @star.user.nickname%></h4>
      </div>
    </div>

  </div>

  <div class="wrapperS2">
    <div class="star-descS">
      <h2>Live an incredible experience with <%= @star.name%></h2>
      <div class="descriptionS">
        <p><%= @star.description%><p>
      </div>
    </div>
    <div class="book-starS">
      <div id="map"
        style="width: 600px; height: 300px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
        <h3>Your booking dates</h3>
        <%= simple_form_for [@star, Reservation.new], remote: true do |f| %>
          <%= f.input :start, :label => "When do you want to start ?", as: :string, required: true, input_html: {class: "datepicker"} %>
          <%= f.input :end, :label => "When will it end ?", as: :string, required: true, input_html: {class: "datepicker"} %>
          <%= f.button :submit, "BOOK", class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
