<div class="containerS">

  <div class="wrapperS1">

    <div class="star-titleS">
    <!--<% if @star.photo %>
    <%= cl_image_tag @star.photo.key%>
    <% end %>-->
      <h1>
        <%= @star.name%>
      </h1>
      <p>in
        <%= @star.category%>
      </p>
      <h4><%= @star.price%> $/J</h4>
    </div>

    <div class="product-userS">
    <p>Posted by: <%= @star.user.nickname%></p>
    <img class="avatar-userS" src="">
    </div>

  </div>

  <div class="wrapperS2">

    <div class="star-descS">
      <h2>Live an incredible experience with <%= @star.name%></h2>
      <div class="descriptionS">
        <p><%= @star.description%><p>
        <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
      <!--<div class="review"><ul class="list-inline"><li><img class="fa fa-star"></li>*5</ul></div> -->
    </div>

    <div class="book-starS">
        <%= simple_form_for [@star, Reservation.new] do |f| %>
        <%= f.input :start, as: :date %>
        <%= f.input :end, as: :date%>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
