<div class="row">
  <% if current_user.photo.attached?%>
    <div class="col-img" style="background-image: url('<%= cl_image_path current_user.photo.key, crop: :fill %>')">
  <% else%>
    <div class="col-img" style="background-image: url('https://www.shareicon.net/data/2016/07/05/791224_man_512x512.png')">
  <% end %>
  </div>

  <div class="col-form">
      <h1><%= "Hello " %><span class="underline"><%= "#{@user.nickname}!" %></span><%= " Welcome to your profile 😎" %></h1>



    <!--   EDIT YOUR PERSONAL INFO -->

      <%#= link_to "Edit your profile", edit_user_path(current_user), class: "btn btn-ghost" %>

      <div>

      </div>
      <br>
      <br>
      <h2>Create a new star</h2>

      <div>
        <%= render 'stars/form' %>
      </div>
  </div>



  <!--   2eme segment -->

    <div class="col-last-post" style="background-color:#56adf3;">
      <!--    VIEW YOUR LAST POST -->

      <div>
        <h2>Your last post</h2>
      </div>

      <div class="border">
        <div class="container-orders border">
          <% @post_stars.each do |star| %>
            <div>
              <div class="card-product container-orders">
                <%= cl_image_tag star.photo.key%>
                <div class="card-product-infos">
                  <p><strong>Your date :</strong></p>
                  <p><%= star.name %></p>
                  <% if policy(star).edit? %>
                  <%= link_to 'Edit', edit_user_star_path(current_user, star) %>
                  <% end %>
                  <% if policy(star).destroy? %>
                  <%= link_to user_star_path(current_user, star), method: :delete, data: { confirm: "Are you sure you want to delete your star?"} do%>
                    <i class="fas fa-trash" style="padding-left: 480px;"></i>
                  <% end %>
                  <% end %>
                </div>
                <br>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="col-last-order" style="background-color:#fbdf53;">
      <!--    VIEW YOUR LAST RESERVATIONS -->

      <div>
        <h2>Your last orders</h2>
      </div>

      <div class="containerzz">
        <% @reservations.each do |reservation| %>
          <div>
            <div class="card-product container-orders">
              <%= cl_image_tag reservation.star.photo.key%>
              <div class="card-product-infos">
                <div class="d-flex">
                  <div class="p-2">
                    <h2>You lived a greatfull experience with <%= reservation.star.name %></h2>
                    <p>from <%= reservation.start.strftime(" %m/%d/%y") %> to <%= reservation.end.strftime(" %m/%d/%y") %>, we hope you <strong>enjoyed</strong> it!</p>
                  </div>
                  <div class="ml-auto p-2">
                    <%= link_to reservation_path(reservation), method: :delete, data: { confirm: "Are you sure you want to delete your reservation?"} do %>
                    <i class="fas fa-trash" style="padding-left: 40px;"></i>
                    <% end %>
                  </div>
              </div>
              </div>
              <br>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
