  <!-- MENU -->
    <div>
      <ul class="menu1">
        <li><%= link_to "Commander une star", "#", class: "nav-link" %></li>
        <li><%= link_to "Langues", "#", class: "nav-link" %></li>
        <li><%= link_to "Créer une expérience", "#", class: "nav-link" %></li>
        <li><%= link_to "Aide", "#", class: "nav-link" %></li>
        <li><%= link_to "Connexion", "#", class: "nav-link" %></li>
      </ul>
      <div class="inscription">
        <a href="">Inscription</a>
      </div>
    </div>

  </div>
  <!-- FORM FILTER -->
  <div>
    <form>
      <input type="" name="">
      <input type="" name="">
      <input type="" name="">
      <input type="submit" name="">
    </form>
  </div>

  <!-- CARDS EXPERIENCE /CATEGORIES -->
  <div class="products">
    <h2>Nous surmonterons cette épreuve ensemble, malgré l'éloignement.</h2>

    <div class="cards">
      <div class="card">
      </div>

      <div class="card">
      </div>

      <div class="card">
      </div>
    </div>
  </div>

  <!-- LIVE A STAR EXPERIENCE -->
  <div class="experience">
    <div>
      <h2>Découvrez les expériences en ligne</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
      <img src="">
    </div>
    <div class="card">
    </div>

    <div class="card">
    </div>
  </div>

  <!-- FOOTER -->




