<!--  HERO  -->

  <div class="hero">
    <div class="container">
      <h1 class="animate__backInLeft">Live a Meetflix Experience</h1>
      <p>Bored of spending your time with Mr(s) Nobod'?</p>
      <span class="span">New</span>
      <span class="span">Famous</span>
    </div>
  </div>



  <!-- FORM FILTER -->

  <div class="search_form">
    <div class="search_item">
      <%= form_tag root_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a Character"
        %>
    </div>

   <!--  <div class="search_item">
      <p>Pick a date</p>
      <input type="date" name="dateofdate" id="dateofdate">
    </div> -->

    <div class="search_item">
      <%= submit_tag "Search", class: "btn-search" %>
    </div>
    <% end %>
  </div>


  <!-- LIVE A STAR EXPERIENCE -->


  <div class="container-experience container">
    <% @stars.each do |star| %>
      <div>
        <div class="card-trip">
          <%= cl_image_tag star.photo.key%>
          <div class="card-trip-infos">
            <div>
              <h2><%= star.name %></h2>
              <p><%= star.description %></p>
            </div>
            <h2 class="card-trip-pricing"><%= star.price %></h2>
            <%= link_to star.name, star_path(star) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>





